<div class="container-fluid"> 
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>        
      </ol>
  
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="assets/Images/justice-league-slider.jpg" alt="League of Justice" class="img-responsive">
        </div>
        
        <div class="item">
          <img src="assets/Images/moutain-between-us-slider.jpg" alt="The Moutain Between Us" class="img-responsive">
        </div>
        
        <div class="item">
          <img src="assets/Images/coba_slider.jpg" alt="Cô Ba Sài Gòn" class="img-responsive">
        </div>

        <div class="item">
          <img src="assets/Images/jungel_slider.jpg" alt="Hiểm Họa Rừng Chết" class="img-responsive">
        </div>
      </div>
  
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <!-- Form mua vé nhanh -->
    <div class="form-box">
      <form class="form-inline">
        <div class="form-group col-sm-offset-1 col-md-3 col-sm-5 col-xs-12">
          <select name="selectPhim" id="selectPhim" class="form-control select-group">
            <option>Chọn Phim</option>
            <!-- <option *ngFor="let film of MovieDetail">{{film.Title}}</option> -->
          </select>
        </div>
        <div class="form-group col-md-2 col-sm-5 col-xs-12">
          <select name="selectRap" id="selectRap" class="form-control select-group">
            <option>Chọn Rạp</option>
          </select>
        </div>
        <div class="select-box col-md-3">
          <div class="form-group col-md-offset-0 col-md-6 col-sm-offset-1 col-sm-5 col-xs-12">
            <select name="selectNgay" id="selectNgay" class="form-control select-group">
              <option>Chọn Ngày</option>
            </select>
          </div>
          <div class="form-group col-md-6 col-sm-5 col-xs-12">
            <select name="selectSuat" id="selectSuat" class="form-control select-group">
              <option>Chọn Suất</option>
            </select>
          </div>
        </div>
        <div class="btn-box col-md-2 col-xs-12">
          <button type="submit" class="btn btn-default"><i class="fa fa-usd"> </i> Mua Vé</button>
        </div>
      </form>
    </div>
  </div>
  