<div class="container-fluid">
  <div class="row" id="header">
    <nav class="navbar navbar-default">
      <div class="navbar navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> 
        <div class="box-logo">
          <a pageScroll href="#myCarousel" (click) = "RouterHome()" >
            <div class="logo">
              <img src="assets/Images/LOGO.png" class="img-responsive">
            </div>
            <span>CyberPhim</span>
          </a>
        </div>  
      </div>

      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a pageScroll href="#phim">Phim</a></li>
          <li><a pageScroll href="#rap">Rạp</a></li>
          <li><a pageScroll href="#news">Tin Tức</a></li>
          <li><a pageScroll href="#footer">Liên Hệ</a></li>
          <li><a data-toggle="modal" data-target="#myModal"><i class="fa fa-user-circle user-sign-in"></i><span>Tài Khoản</span></a></li>
          
          

          
        </ul>
      </div>
    </nav>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Đăng Nhập</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-offset-1 col-xs-10">
            
            </div>

          </div>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
