<div class="col-xs-12 block" id="detailShowTimes">
  <ul class="nav nav-tabs groupCinema">
    <li id="cgv" #cgv (click)="selected(cgv.id)" [ngClass]='{active:isSelected(cgv.id)}'>
      <a class="tabcinema">
        <img src="assets/Images/cinema_logo/cgv.png">
        <p>CGV - Cinemas</p>
      </a>
    </li>
    <li id="glx" #glx (click)="selected(glx.id)" [ngClass]='{active:isSelected(glx.id)}'>
      <a class="tabcinema">
        <img src="assets/Images/cinema_logo/galaxycine_icon.png">
        <p>Galaxy Cinema</p>
      </a>
    </li>
    <li id="ltc" #ltc (click)="selected(ltc.id)" [ngClass]='{active:isSelected(ltc.id)}'>
      <a class="tabcinema">
        <img src="assets/Images/cinema_logo/lotte_icon.png">
        <p>Lotte Cinema</p>
      </a>
    </li>
    <li id="bhd" #bhd (click)="selected(bhd.id)" [ngClass]='{active:isSelected(bhd.id)}'>
      <a class="tabcinema">
        <img src="assets/Images/cinema_logo/bhd.png">
        <p>BHD Star</p>
      </a>
    </li>
    <li id="cns" #cns (click)="selected(cns.id)" [ngClass]='{active:isSelected(cns.id)}'>
      <a class="tabcinema">
        <img src="assets/Images/cinema_logo/cinestar_icon.png">
        <p>CineStar</p>
      </a>
    </li>
    <li id="mgs" #mgs (click)="selected(mgs.id)" [ngClass]='{active:isSelected(mgs.id)}'>
      <a class="tabcinema">
        <img src="assets/Images/cinema_logo/Mega.png">
        <p>Mega GS</p>
      </a>
    </li>
  </ul>
  <div class="groupBooking">
    <div class="row wrapDay">
      <div class="selectDate" *ngFor="let day of showDate" (click)="selectedDate(day)" (click)="GetShowTime(day)" [ngClass]="{'active':isSelectedDate(day)}">
        <p>{{day}}</p>
      </div>
    </div>
    <div class="row wrapBooking">
      <div class="wrapMovie">
        <div class="cinemaInfo">
          <img src="assets/Images/cinema_small/cgv-vincom-dong-khoi.jpg" class="cinemaImg">
          <div class="wrapInfo">
            <p class="headInfo"><span style="color:red">CGV</span> - <b>Vincom Đồng Khởi</b></p>
            <p class="addressInfo">Tầng 3, TTTM Vincom Center B, 72 Lê Thánh Tôn, Bến Nghé, Q.1</p>
          </div>
        </div>
      </div>
      <div class="wrapShowTime">
        <img src="assets/Images/2D.png" class="versionIcon">
        <div class="sessions">
            <div class="session" *ngFor="let time of showTime" [routerLink]="['/booking']" [queryParams]="{showtimeid:time.ShowTimeID,movieid:MovieDetail.ID}">{{time.StartDate | slice:0:5}}</div>
        </div>
      </div>
    </div>
  </div>
</div>